mongo:
    host: "mongodb://localhost:27017"
    database: 'mycollection'
    collection: 'users'
graph:
    tenantId: 'uuid'
    clientId: 'uuid'
    clientSecret: 'secret'
    domain: "mydomain.org"
mails:
  - 'Peter@hexample.com'
  - 'jr@example.com'
  - 'peterc@example.com'
keep-emails:
  - 'admin-do-not-delete@example.com'


    